@import "mixins/media-queries";
@import "mixins/arrow";
@import "mixins/clearfix";
@import "mixins/shadow-layout";
@import "mixins/unselectable";

@mixin center($size) {
  left: 50%;
  margin-left: -($size / 2);
  margin-top: -($size / 2);
  position: absolute;
  top: 50%;
}

@mixin fa($size, $dimensions) {
  display: inline-block;
  font-size: $size;
  height: $dimensions;
  line-height: $dimensions;
  text-align: center;
  vertical-align: top;
  width: $dimensions;
}
