header.page-header {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: $header-height;
  background: $white;
  text-align: center;
  border-bottom: 1px solid $grey-light;
  @include shadow-layout;

  .container {
    @extend %page-container;
  }
}


// Elements

.header-item {
  display: flex;
  align-items: center;
  padding: 0 $gap-left-right;

  a {
    flex-grow: 1;
  }

  .fa {
    font-size: 20px;
    line-height: 1em;
  }

  .tag {
    &:first-child {
      margin-right: 5px;
    }

    &:last-child {
      margin-left: 5px;
    }
  }
}

.header-item a,
a.header-item {
  color: $text;

  &:hover {
    color: $link-hover;
  }

  // Modifiers
  &.is-active {
    color: $link;
  }
}

.header-tab {
  display: flex;
  align-items: center;
  padding: 0 15px;
  line-height: 1em;
  color: $text;
  border-bottom: 1px solid transparent;

  &:hover, &:focus {
    border-bottom: 1px solid $link;
  }

  &.is-active {
    margin-top: 2px;
    border-bottom: 3px solid $link;
    color: $link;
  }
}

// Containers

.header-left {
  align-items: stretch;
  display: flex;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
}

.header-right {
  align-items: stretch;
}

.header-full {
  align-items: stretch;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;

  & > .header-item {
    align-items: stretch;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 0;

    & > a {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}

.header-menu {
  display: flex;
}

.header.is-centered {
  justify-content: center;

  .header-left,
  .header-right {
    justify-content: center;
  }
}
