a {
  color: $link;
  cursor: pointer;
  text-decoration: none;
  transition: color $fade-speed $easing;
  &:hover, &:focus, &:active {
    outline: 1px dotted $primary;
    color: $link-hover;
  }
}

@each $name, $pair in $colors {
  $color: nth($pair, 1);
  a {
    &.is-#{$name} {
      color: $color;
      &:hover,
      &:focus {
        color: darken($color, 10%);
      }
    }
  }
}
