// Typography

$family-sans-serif: "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$family-monospace: "Source Code Pro", "Monaco", "Inconsolata", monospace !default;

$family-primary: $family-sans-serif !default;
$family-code: $family-monospace !default;

$size-1: 2.2em !default;
$size-2: 2em !default;
$size-3: 1.8em !default;
$size-4: 1.6em !default;
$size-5: 1.4em !default;
$size-6: 1.2em !default;
$size-7: 0.9em !default;

$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 !default;

$size-small: $size-7 !default;
$size-normal: 12px !default;
$size-medium: $size-5 !default;
$size-large: $size-3 !default;
$size-huge: $size-1 !default;

$weight-normal: 400 !default;
$weight-bold: 700 !default;
$weight-title-normal: 300 !default;
$weight-title-bold: 500 !default;


// Breakpoints

$screen-xs: 360px !default;
$screen-s: 480px !default;
$screen-m: 600px !default;
$screen-l: 768px !default;
$screen-xl: 960px !default;
$screen-xxl: 1140px !default;

$screen-max: $screen-xxl !default;


// Dimensions

$header-height: 50px !default;
$footer-height: 40px !default;

// horizontal gap
$gap-left-right: 10px !default;
$gap-left: $gap-left-right !default;
$gap-right: $gap-left-right !default;

// vertical gap
$gap-top-bottom: 10px !default;
$gap-top: $gap-top-bottom !default;
$gap-bottom: $gap-top-bottom !default;


// Miscellaneous

$radus-default: 4px !default;
$easing: ease-out !default;
$fade-speed: 200ms !default;
