%loader, .loader {
  animation: spin-around 500ms infinite linear;
  border: 2px solid $border;
  border-radius: 100%;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 16px;
  position: relative;
  width: 16px;
}
